html, body {
    background-color: #eddd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #ccc;
}

main {
    grid-area: main;
    background-color: #eee;
}

aside {
    grid-area: aside;
    background-color: #aaa;
    
}

footer {
    grid-area: footer;
    background-color: #bbbc;
}